.youtubeInput{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.youtubeInput > input{
    flex: 5;
    border: none;
    outline: none;
}
.youtubeInput > button{
    flex: 1;
    background-color: lightgreen;
}

.youtubeInput > *{
    margin: 0 5px;
    border-radius: 10px;
}

.finishUploadButton{
    flex: 5;
    background-color: lightgreen;
}

.clearButton{
    flex: 1;
    background-color: lightcoral;
}