nav {
  display: flex;
  flex-direction: row;

  border-radius: 1vh;
  margin: 0.6vh;
  overflow: hidden;
}

.link {
  color: black;
  text-decoration: none;
  background-color: lightgray;
  flex: 1;
  padding: 1vh;
  text-align: center;
}

.link:hover {
  background-color: darkgray;
}

nav > .selected {
  background-color: gray;
}

.buttons{
  display: flex;
  flex-direction: row;

  height: 50px;
}

.buttons > *{
  margin: 0 5px;
  cursor: pointer;
  flex: 1;
}

button {
  border: none;
  font-size: inherit;
  border-radius: 10px;
  cursor: pointer;
}

.view{
  margin: 0 2%;
}