html,body{
  height: 100%;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;

  user-select: none;
}

html::-webkit-scrollbar,body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: sans-serif;
  color: lightgray;

  background: linear-gradient(to bottom, #111111, #000000) fixed;
}
